body {
    font-weight: 300;
    color:#0F1228;
    font-size:15px;
    background:url('../images/bg.jpg');
}

html {
height: -webkit-fill-available;
}

a:active{text-decoration:none;}
a:hover{text-decoration:none;}
.pb-12, .py-12 {padding-bottom: 15rem !important;}

.site-header {
  background:#ffffff;
  width:100%;
}
h4, .h4{font-size:24px;}
.site-logo-text {
  color:#39CBFF;
  align-items: center;
  z-index: 1030;
  font-size: 2rem;
  letter-spacing:  2px;
  font-weight: 700;
  margin-left: 60px;
  margin-top: 40px;
  float:left;
}

.site-logo-text img {max-width:320px;}

.site-logo-landing-desktop {
  color:#39CBFF;
  align-items: center;
  z-index: 1030;
  font-size: 2rem;
  letter-spacing:  2px;
  font-weight: 700;
  margin-left: 60px;
  margin-top: 40px;
  float:left;
}

.site-logo-landing-desktop img {max-width:320px;}

.site-logo-landing-mobile {
  color:#39CBFF;
  align-items: center;
  z-index: 1030;
  font-size: 2rem;
  letter-spacing:  2px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 10px;
  float:left;
}
.site-logo-landing-mobile img {max-width:320px;}


.site-menu-custom {
  margin-right: 60px;
  margin-top: 40px;
  top: 0;
  right: 0;
  z-index:1050;
  float:right;

}
.btn-icon.btn-sm, .btn-group-sm > .btn-icon.btn{
  margin-left:10px;
}
.bg-cover, .bg-contain{
  background-position: right bottom;
}
p
{
  opacity:0.7;
}
h2{
  margin-block-end: 0.3em;
  font-weight:500;
  font-size:3.5vw;
}
.text-comingsoon {
  color:#39CBFF;
  font-weight:600;
}
.countdown .number {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  min-width: 2em;
  color:#39CBFF;
}
.countdown {
display: inline-flex;
border: 1px solid #e0e0e0;
border-radius: 10px;
padding: 20px;
margin: 20px 0px;
}
.countdown .title{
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.col-sm-auto:last-child {
border-right: 0px;
}

.col-sm-3 {border-right: 1px solid #e0e0e0;}
.col-sm-3:last-child {border:0px;}

.col-sm-auto {

max-width: 100%;
border-right: 1px solid #e0e0e0;
}
.button-white {
  width: 130px;
  background: #FFFFFF;
  border: 2px solid #828282;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display:inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right:15px;
}
.button-white a{
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color:#828282;
}
.button-green {
  background: #993399;
  border: 2px solid #993399;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display:inline-block;
  padding: 5px 25px;
}
.button-green a{
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color:#ffffff;
}
.button-white-g {
  background: #ffffff;
  border: 2px solid #993399;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display:inline-block;
  padding : 5px 25px;
  margin-left: 5px;
}
.button-white-g a{
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color:#39CBFF;
}
.spacer-35{
  margin-bottom:35px;
}
.spacer-70{
  margin-bottom:70px;
}
#home-landing {
  min-height:90vh;
  display:inline-flex;
  /*background:url('../images/bg.jpg');*/
  background-size:100%;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.column3 {
  width:33.3%;
}
.column4 {
  width:25%;
}
.icon-box {
  margin:10px;
}

.icon-box h4 {font-weight:600;}

.sec1-img{
  padding: 60px;
  background:#F6F4F5;
  border-radius: 50%;
  margin-bottom:10px;
  width:300px;
}
#home-landing {width:100%;}
#home {width:100%;}
#section2-landing {padding: 7rem 0;}

#section3-landing {padding: 7rem 0;background:#f4f4f4;}
#section3-landing h2 {font-size:44px;}
#section3-landing img {width:146px;}
#section3-landing .row {margin:auto;margin-top: 70px;}
#section3-landing .icon-box {background:#ffffff; padding:40px 20px;box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
border-radius: 10px;min-height: 350px;margin:0px 40px;}
#section3-landing  .icon-box h4 {font-size:24px;color:#39CBFF; margin-top:40px; font-weight:600;}
#section4-landing a {color:#0F1228;}
#section4-landing {padding: 7rem 0;}
#section4-landing h2 {font-size:44px;}
#section4-landing i {font-size:70px;}
#section4-landing img {width:70px;}
#section4-landing p {font-size:14px; font-weight:500;}
#section4-landing .row {margin:auto;margin-top: 70px;}

#section4-landing .icon-box {border: 2px solid #F6F4F5;background: #F6F4F5;border-radius: 10px;padding:80px 20px 40px 20px;;border-radius: 10px;min-height: 380px;margin:20px;}
#section4-landing .icon-box:hover {background: #ffffff;border: 2px solid #39CBFF;box-sizing: border-box;box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);border-radius: 10px;}
#section4-landing .icon-box:hover h4 {color:#39CBFF;}
#section4-landing .icon-box h4 {font-size:24px;color:#0F1228;  font-weight:600;margin: 30px 0px;text-decoration:none;}

#section5-landing {padding: 7rem 0;background:#f4f4f4;}
#section5-landing h2 {font-size:44px;}


/* Style the buttons that are used to open and close the accordion panel */
.accordion-main {
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.accordion {
  cursor: pointer;
  width: 100%;
  outline: none;
  transition: 0.4s;
  font-size:21px;
  font-weight:500;
  background-color: transparent;
  border:0px;
  text-align:left;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: transparent;
  color:#0F1228;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0px 32px;
  display: none;
  overflow: hidden;
  font-size:16px;
  font-weight:500;
  text-align:left;
  background:transparent;
  border:0px;
  box-shadow: none;
}
.panel p {opacity:1;padding: 20px 0px 0px 0px;}


.accordion:before{content: '\25CF'; /* Unicode character for "plus" sign (+) */
font-size: 23px;
color:#39CBFF;
margin-right: 15px;
}

.accordion:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 23px;
  color:#39CBFF;
  margin-left: 5px;
  float:right;
}


.active:after {
  content: "\002D"; /* Unicode character for "minus" sign (-) */
  color:#39CBFF;
}

@media only screen and (max-width: 1024px) {
  .sec1-img {margin-bottom:30px;width:200px;padding:35px;}
  #section3-landing .icon-box  {margin:0px 20px;}
    h2 {font-size:42px;}
}


@media only screen and (max-width: 767px) {
  html,
 body {

 }
.site-logo-text img {max-width:200px;}
p{font-size:16px;}
.text-comingsoon {font-size:16px;}

.col-sm-auto {border:0px;padding-left:10px;padding-right:10px;}
.col-6 {flex: 0 0 25%;}

section {padding:0; height:80vh;}

.btn-icon.btn-sm, .btn-group-sm > .btn-icon.btn {font-size: 1.0rem;
width: 2rem;
height: 2rem;}

.site-logo-text {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.0rem !important;
}
.site-logo-landing-desktop{display:none;}

.site-menu-custom {
  margin-right: 10px;
  margin-top: 20px;
}
.site-menu-custom .button-green a{
  font-size:14px;
}

h2{font-size:28px;}
#home h2{font-size:4.5vw;}
#home-landing h2{font-size:4.5vw;}
.site-logo-text {font-size:1.6rem;}
.countdown .number {font-size:9.3vw;min-width:1.5em;}
.countdown .title {font-size:2.5vw;}
.countdown {padding: 10px;margin: 10px 0px;}
.site-menu-custom .button-white {display:none;}
#home-landing .button-green {width: 80%;margin-bottom: 10px;}
#home-landing .button-white-g {width: 80%;margin-bottom: 10px;}
.column3 { width:100%;}
.column4 {width:50%;}
#section2-landing{padding: 4rem 0;}
#section3-landing{padding: 4rem 0;}
#section4-landing{padding: 4rem 0;}
#section5-landing{padding: 4rem 0;}
.sec1-img {margin-bottom:30px;width:200px;padding:35px;}
.site-header .button-green {padding: 5px 15px;}
.icon-box {margin-bottom:20px;}
#section3-landing .icon-box {margin:10px 60px;}
#section4-landing .icon-box {margin: 5px;padding: 20px 5px; min-height:290px;}
#section3-landing h2 {font-size:28px;}
#section4-landing h2 {font-size:28px;}
#section5-landing h2 {font-size:28px;}
#section4-landing p {font-size:13px;}
.displaypc{display:none;}
.accordion:before{height:100%;}
.accordion {font-size:15px;}
.panel p  {font-size:13px;}
.panel li {font-size:13px;}
.accordion-main {padding:15px;}
.breaklinedesk {display:none;}
}

@media only screen and (max-width: 480px) {

  .text-comingsoon {font-size:13px;}
  p{font-size:13px;}
}

@media only screen and (min-width: 768px) {
.site-logo-landing-mobile {display:none; }
container-md, .container-sm, .container {max-width: 1250px;}
.breakline{display:none;}
.displaymobile{display:none;}
}
